@model MvcCreditApp.Models.Credit

@{
    ViewData["Title"] = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>

<h4>Credit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreditId" />
            <div class="form-group">
                <label asp-for="Head" class="control-label">Название</label>
                <input asp-for="Head" class="form-control" />
                <span asp-validation-for="Head" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label">Период</label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Максимальная сумма</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procent" class="control-label">Процентная ставка</label>
                <input asp-for="Procent" class="form-control" />
                <span asp-validation-for="Procent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться в список</a>
</div>

