@model WebMVCR1.Models.Person

@{
    ViewBag.Title = "Ввод данных";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputData</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.FirstName):</td>
                    <td>@Html.TextBoxFor(x => x.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.LastName):</td>
                    <td>@Html.TextBoxFor(x => x.LastName)</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Отправить" />
                    </td>
                </tr>
            </table>
        }
    </div>

</body>
</html>
